body {
    font-family: Arial, sans-serif;
    background-color: #343434;
}

h1 {
    text-align: center;
    color: #333;
}

button {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    background-color: #a91313;
    color: white;
    border: none;
    cursor: pointer;
    font-size: 16px;
    border-radius: 5px;
}

button:hover {
    background-color: #ff0000;
}

#content {
    font-size: 16px;
    color: #333;
    background-color: #f9f9f9;
    padding: 10px;
    border-radius: 5px;
    white-space: pre-wrap;
}

#content-box {
    background-color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    min-height: 50vh;
    width: 50%;
    border: 1px #3c00ff
}